h1 {
    color: rgb(194, 94, 94);
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    font-family: 'Courier New', Courier, monospace;
}

h3 {
    color: rgb(194, 94, 94);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 10px;
    margin-bottom: 0px;
}


h2#was {
    width: 25%;
    float: left;
    text-align: center;
    margin-top: 100px;
    margin-left: 2.5%;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(194, 94, 94);
    background-color: rgba(103, 103, 103, 0.279);
}

h2#am {
    width: 25%;
    float: left;
    text-align: center;
    margin-top: 100px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(194, 94, 94);
    background-color: rgba(103, 103, 103, 0.279);
}

h2#wanna {
    width: 25%;
    float: left;
    text-align: center;
    margin-top: 100px;
    margin-right: 2.5%;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(194, 94, 94);
    background-color: rgba(103, 103, 103, 0.279);
    
}

div.spacer {
    width: 10%;
    float: left;
    margin-top: 100px;
    background: rgb(251, 251, 251);
}

#firstMore {
    display: none;
}

#secondMore {
    display: none;
}

#thirdMore {
    display: none;
}

p {
    width: 25%;
    float: left;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(194, 94, 94);
    background-color: rgba(103, 103, 103, 0.279);
    max-height: 400px;

}

p#first {
    margin-left: 2.5%;
    overflow-y: scroll;
}

p#second {
    overflow-y: scroll;
}

p#third {
    margin-right: 2.5%;
}

body {
    background: rgb(251, 251, 251);
  }